<div class='panel panel-primary'>
    <div class='panel-heading'>
        Upcomming birthdays
    </div>

    <div class='panel-body'>

        <div class='table-responsive'>
            <div class="alert alert-info" role="alert" *ngIf="indLoadingUpcomming"><svg aria-hidden="true" data-fa-processed="" data-prefix="fas" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-spinner fa-w-16 fa-spin fa-lg"><path fill="currentColor" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z" class=""></path></svg> Loading...</div>
            <div *ngIf='persons && persons.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='persons && persons.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>First name</th>
                        <th></th>
                        <th>Date of birth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of persons">
                        <td>{{person.name}}</td>
                        <td>{{person.firstName}}</td>
                        <td class="alarmToday"> <span *ngIf="person.birthdayToday"><i class="far fa-bell"></i></span></td>
                        <td><i class="fas fa-birthday-cake"></i> {{person.dateOfBirth | date: "dd-MM-yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
</div>
